fastapi
uvicorn
python-socketio
google-generativeai
SpeechRecognition
pyaudio
pyautogui
psutil
pyttsx3
python-dotenv
pygetwindow
langchain
langchain-community
langchain-google-genai
langchain-chroma
chromadb
pypdf
python-docx
edge-tts
pygame
openai
