@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

@theme {
  --color-gpt-dark: #212121;
  --color-gpt-sidebar: #171717;
  --color-gpt-input: #2f2f2f;
}

body {
  font-family: 'Söhne', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #424242;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}